<div class="col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "employee.firstName" name = "firstName">
        </div>
    
        <div class="form-group">
            <label> Last Name</label>
            <input type="text" class ="form-control" id = "lastName"
                [(ngModel)] = "employee.lastName" name = "lastName">
        </div>
    
        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "emailId"
                [(ngModel)] = "employee.emailId" name = "emailId">
        </div>

        <div class="form-group">
            <label> Password</label>
            <input type="text" class ="form-control" id = "password"
                [(ngModel)] = "employee.password" name = "password">
        </div>

        <div class="form-group">
            <label> Pin Code</label>
            <input type="text" class ="form-control" id = "pinCode"
                [(ngModel)] = "employee.pinCode" name = "pinCode">
        </div>

        
        <div class="form-group">
            <label>Select Role</label>
            <select name="selectedQuantity" id="aantal" class="form-control" [(ngModel)]="employee.role" >
            <option *ngFor="let option of options" [value]="option" >{{option}}</option></select>
        </div>

        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 