<h2> Employee List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Complain Id</th>
            <th> Complain Name </th>
            <th> Complain Description</th>
            <th> Complain Type </th>
            <th> Complain Pin Code </th>
            <th> Complain Status </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let complain of complains" >
            <td> {{ complain.id }} </td>
            <td> {{ complain.complainName }} </td>
            <td> {{ complain.complainDescription }} </td>
            <td> {{ complain.complainType }}</td>
            <td> {{ complain.complainPinCode }}</td>
            <td> {{ complain.complainStatus }}</td>
            

            <td>
                <!-- *ngIf="isAdmin || isManager" -->
                <button  (click) = "updateComplain(complain.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteComplain(complain.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "complainDetails(complain.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
