<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Complain Id: </b></label> {{complain.id}}
    </div>
    <div>
        <label> <b> Complain Name: </b></label> {{complain.complainName}}
    </div>
    <div>
        <label> <b> Complain Description: </b></label> {{complain.complainDescription}}
    </div>

    <div>
        <label> <b> Complain Type: </b></label> {{complain.complainType}}
    </div>

    <div>
        <label> <b> Complain Pin Code: </b></label> {{complain.complainPinCode}}
    </div>

    <div>
        <label> <b> Complain Status: </b></label> {{complain.complainStatus}}
    </div>
</div>