 <!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <span><b>Ticket Management</b></span>
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a  routerLink="raise-complaint" routerLinkActive="active" class="nav-link" >Raise Complaint</a>
        </li>
        <li class = "nav-item">
            <a routerLink="view-complaint" routerLinkActive="active" class="nav-link" >View Complaint</a>
        </li>
       
    </ul>
</nav>
<main>
    <h1 class="text-center"> {{title}} </h1>
    <div class = "container">
        <router-outlet></router-outlet>
    </div>
</main>

<footer class = "footer">
    
        <span>All Rights Reserved 2022 @ABC Telecom Ltd.</span>
    
</footer>
 -->


<h1 class="text-center"> {{userMessage}} </h1>